table(summary='', style='width:100%;font-family:Arial,Sans-serif;' +
    'border:1px Solid #ccc;border-width:1px 2px 2px 1px;background-color:#fff',
    border='0', cellpadding='8', cellspacing='0')
  tbody
    tr
      div(style='padding:2px')
        span
        div(style='float:right;font-weight:bold;font-size:13px')
          a(href='', style='color:#20c;white-space:nowrap', target='_blank').
            more details »
          br
        h3(style='padding:0 0 6px 0;margin:0;font-family:Arial,Sans-serif;' +
            'font-size:16px;font-weight:bold;color:#222')
          span.
            (No Subject)
        table(summary='Event details', border='0', cellpadding='0',
            cellspacing='0')
          tbody
            tr
              td(style='padding:0 1em 10px 0;font-family:Arial,Sans-serif;' +
                  'font-size:13px;color:#888;white-space:nowrap', valign='top')
                div
                  i(style='font-style:normal').
                    When
              td(style='padding-bottom:10px;font-family:Arial,Sans-serif;' +
                  'font-size:13px;color:#222', valign='top')
                u
                u
                u
                u
                span.
                  Fri Apr 3, 2015 2:28pm – 3:28pm
                span(style='color:#888').
                  Minsk
            tr
              td(style='padding:0 1em 10px 0;font-family:Arial,Sans-serif;' +
                  'font-size:13px;color:#888;white-space:nowrap', valign='top')
                div
                  i(style='font-style:normal').
                    Calendar
              td(style='padding-bottom:10px;font-family:Arial,Sans-serif;' +
                  'font-size:13px;color:#222', valign='top')
                a(href='mailto:alexeykofficial@gmail.com', target='_blank').
                  alexeykofficial@gmail.com
    tr
